*.*~
config.cache
Install_*.log
libraries_*.log
basics/cmake
basics/cmake-3.3.2.tar.gz
basics/cmake-3.3.2/
basics/icu
basics/icu4c-53_1-src.tgz
basics/MillepedeII/
basics/boost
basics/boost_1_59_0.tar.bz2
basics/boost_1_59_0/
basics/gsl
basics/gsl-1.16.tar.gz
basics/gsl-1.16/
basics/gtest
basics/gtest-1.7.0.zip
basics/gtest-1.7.0/
basics/libsodium
basics/zeromq
basics/zeromq-4.1.3.tar.gz
basics/zeromq-4.1.3/
generators/HepMC
generators/HepMC-2.06.09.tar.gz
generators/HepMC-2.06.09/
generators/build_HepMC/
generators/pluto
generators/pluto_v5.37.tar.gz
generators/pluto_v5.37/
generators/pythia6.tar.gz
generators/pythia6/
generators/pythia8
generators/pythia8212.tgz
generators/pythia8212/
generators/genie
generators/genie-2.10.0/
tools/root/
tools/root_v5.34.17.source.tar.gz
tools/lhapdf-5.9.1.tar.gz
tools/lhapdf-5.9.1/
tools/log4cpp-1.1.1.tar.gz
tools/log4cpp/
tools/Makefile
tools/bcb5/
tools/build_lhapdf-5.9.1/
tools/config.log
tools/config.status
tools/config/
tools/doc/
tools/include/
tools/libtool
tools/log4cpp-config
tools/log4cpp-config.in
tools/log4cpp.pc
tools/log4cpp.pc.in
tools/log4cpp.spec
tools/msvc6/
tools/openvms/
tools/src/
tools/tests/
transport/geant4.10.01.p02.tar.gz
transport/geant4.10.01.p02/
transport/geant3/
transport/geant321+_vmc.1.15a.tar.gz
transport/geant4
transport/geant4.10.01.p02.tar.gz
transport/geant4.10.01.p02/
transport/geant4.10.01.tar.gz
transport/geant4.10.01/
transport/geant4.10.01.p02
transport/geant4_vmc/
transport/vgm/
basics/xerces-c-3.1.2.tar.gz
basics/xerces-c-3.1.2
basics/xercesc
basics/Mesa-7.10.3/
basics/MesaLib-7.10.3.tar.bz2
basics/mesa
basics/nanomsg
basics/nanomsg-0.6-beta.tar.gz
basics/nanomsg-0.6-beta/
basics/protobuf
basics/protobuf-2.6.1.tar.gz
basics/protobuf-2.6.1/
AliRoot
FairRoot
DDS
generators/EvtGen
generators/PHOTOS.3.61.tar.gz
generators/PHOTOS
generators/TAUOLA.1.1.5.tar.gz
generators/TAUOLA
